*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* ajuste do botão  */
#menu-button img{
    height: 10px;
}
/* ajusta o offcanvas */
#logo-fossil{
    height:60px
}
.nav-item{
    text-decoration: none;
    color: aliceblue;
    size: 30px;
    padding-left: 10px;

}
#nav-container{
    list-style:none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}


footer{
    margin: 40px;
}
